a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  /*background-color: rgba(70, 79, 94, 1);*/
  color: #2A404C;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Orbitron, sans-serif;
  font-weight: 800;
}

.highlight {
  color: #56ab4e;
  font-weight: bold;
}

.centered-header {
  text-align: center;
}

.article-header {
  text-align: center;
  text-transform: none;
}

.article-main-image {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 640px;
}

.article-text {
  max-width: 640px;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.even {
  color: #56ab4e;
}

.bottom-margin {
  margin-bottom: 3rem;
}

.top-margin {
  margin-top: 2rem;
}

.btn {
  font-family: Orbitron, sans-serif;
  font-weight: 800;
  padding: 10px 20px;
  background-color: #2A404C;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.2rem;
}

.btn:hover {
  background-color: #56ab4e;
  color: #fff;
}

/*------------------------------------------------------*/
/*Navigation Bar*/
/*------------------------------------------------------*/
#navbar {
  border-bottom: 1px solid #2A404C;
}

#navbar ul {
  float:right;
  text-align: center;
  margin: 0;
}

#navbar img {
  display: block;
  float: left;
  margin: 0.8rem;
}

#navbar li {
  margin: 0 0.5rem;
  display: inline;
  line-height: 6;
  text-transform: uppercase;
  height: 100%;
}

#navbar a {
  padding: 0.5em;
  line-height: 3;
  text-decoration: none;
  color: #2A404C;
  font-family: Orbitron, sans-serif;
  font-weight: 800;
}

#navbar a:hover {
  text-decoration: none;
  background-color: #56ab4e;
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-weight: 800;
  height: 100%;
}

#navbar a.active {
  background-color: #56ab4e;
  color: #fff;
}

@media (max-width: 549px) {
  #navbar img {
    float:none;
    margin: 0.8rem auto;
  }
  #navbar ul {
    float: none;
    clear: both;
    margin: auto;
  }
  #navbar li {
    line-height: 3;
  }
}

/*------------------------------------------------------*/
/*Navigation Bar*/
/*------------------------------------------------------*/

#teams img {
  max-width: 360px;
  width: 100%;
}

#teams a {
  display: block;
  max-width: 360px;
  opacity: 0.7;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  transition:         all 0.3s ease;
}

#teams a:hover {
  opacity: 1;
}

/*------------------------------------------------------*/
/*Other Stuff*/
/*------------------------------------------------------*/

.jumbotron {
  /*background-color: #56ab4e;*/
  margin-top: 2rem;
}

.jumbotron p {
  font-size: 1.5em;
}

.main-image {
  display: block;
  margin: 5% auto;
  width: 100%;
}

@media (max-width: 749px) {
  .main-image {
    width: 60%;
  }

  .column,
  .columns {
    margin-bottom: 2rem;
  }
}

@media (max-width: 549px) {
  .main-image {
    width: 70%;
  }
}

.main-image-text {

  margin: 5% 0;
  font-family: Orbitron, sans-serif;
  font-weight: 800;
  color: #2A404C;
}

.article {
  #color: #fff;
}

.article:hover > .article-caption {
  background-color: #56ab4e;
}

.article img {
  display: block;

  width: 100%;
  /*width: 100%;*/
  box-sizing: border-box;
}

.article-caption {
  color: #fff;
  background-color: #2A404C;
  padding: 1em;

}

.row {
  /*border: 2px solid black;*/
}

.list-left {
  float: left;
  text-align: right;
  display: inline-block;
  min-width: 80px;
  padding-right: 1em;
}

.list-right {
  text-align: left;
  display: inline-block;
  width: 160px;

}

.container-background {
  background-color: #373f51;
  background-color: rgba(41, 45, 54, 1);
}

.player-name {
  margin-bottom: 1rem;
}

.player-pic {
  display: block;
  float: right;
  margin-right: 2rem;
  width: 90%;
  max-width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 5%;
  background-color: #56ab4e;
  padding: 6px;
}

.player-box {
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
  #color: #fff;
}

.player-box:hover > .player-box-caption {
  background-color: #56ab4e;
}
.player-box img {
  opacity: 0.7;
  display: block;
  width: 100%;
  /*width: 100%;*/
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  transition:         all 0.3s ease;
}

.player-box:hover > img {
  opacity: 1;
}


.player-box-caption {
  color: #fff;
  background-color: #2A404C;
  padding: 1em;

}

@media (max-width: 749px) {
  .list-left {
    min-width: 30%;
  }

  .list-right {
    width: 46%;
  }

  .player-pic {
    float: none;
    margin: auto;
  }

  .player-name {
    text-align: center;
  }

  div.player-info-1 {
    margin: auto;
  }

}

div.player-info-1 {
  max-width: 400px;
}

ul.player-info-1 {
  list-style-type: none;
  line-height: 1.4rem;
  padding-left: 1rem;
}

.player-info-2,
.player-info-3 {
  padding: 1rem;
}

.player-info-4 {
  padding-right: 15%;
}

.player-info-4 h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}



.favorite-champ {
  width: 38px;
  border-radius: 50%;
  border: 3px solid #56ab4e;
}

.favorite-champ-text {
  float: left;
  line-height: 1.8rem;
}
